
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/.vs/PlaywrightApiTest.slnx/FileContentIndex/afec43d6-4aef-4812-aae7-be382e523c31.vsidx
/.vs/PlaywrightApiTest.slnx/FileContentIndex
/.vs/PlaywrightApiTest.slnx/DesignTimeBuild/.dtbcache.v2
